<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7479a1aa47ead9cbbae10ebc54a9d50f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>89</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>89</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__RORc_tmp' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2c0e4cbaa0ba8647263dadb0320ff2c5</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>41</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>198</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>41</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>198</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>41</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>198</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>284</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>284</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>12</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>284</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'RORc'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>41</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>198</integer>
					</dict>
					<key>message</key>
					<string>identifier '__RORc_tmp' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f1adb85b606b3830d341bb3d8a076f16</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>418</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>418</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>418</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>418</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f1c4cb7a77081b8aa9016222d0648e20</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>425</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>425</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>425</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ed77b88425473a3f89a8b25fd2bed0a5</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>432</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>432</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>432</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>432</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>411df73cffa818eb02f9dde4297db9d7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>439</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>439</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>439</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>439</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1261b80edf13620840989dccc8947363</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>597</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>597</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>597</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>597</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>74c311228899e5210cdd72c39622ecd0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>604</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>604</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>604</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>604</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>37be4983dbc4f950b343ce5016630eaa</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>611</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>611</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>611</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>611</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9ae0d7c4b1b7c6590ae9b857b58507d2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>618</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>618</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>618</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>618</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/libtomcrypt/src/ciphers/aes/aes.c</string>
		<string>/build/extern/libtomcrypt/src/headers/tomcrypt_macros.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
