<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>dad4cc3dde1ef68fa70de64e1eacb80a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>428</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>428</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>428</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>428</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1255cbcd28f57261a4423dbdd8a0afcd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>429</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>429</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>429</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>429</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e0db402192f416462cbf07b790519c7a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>490</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>490</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>490</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>490</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__t' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9d21d2fc3b0ee4be32a986ce8a679456</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>491</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>491</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>491</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE32H'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>491</integer>
					</dict>
					<key>message</key>
					<string>identifier '__t' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/libtomcrypt/src/ciphers/blowfish.c</string>
		<string>/build/extern/libtomcrypt/src/headers/tomcrypt_macros.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
