<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'length'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1e3a5002e7040840e0cd84544c7bd457</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>65</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>203</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>65</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>203</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'length'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'status'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b3872b3b77c35be005c038760ed04d9e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>51</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>209</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>51</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>209</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'status'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'status'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bff973aca9ad892ad228809b011fd6ff</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>50</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>214</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>50</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>214</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'status'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'status'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d9291e8d8da59e3319c80bb887693819</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>68</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>326</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>68</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>326</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'status'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'status'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d224d14afc83c86dd2eab5a3cda2174d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>48</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>335</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>48</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>335</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'status'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'status'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>794410421ef84941511e32c4a8a36a0c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>44</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>14913</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>44</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>14913</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'status'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'dbName'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9814cb2a9e5b6123b5263e98af8d3b91</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>64</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>14913</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>64</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>14913</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'dbName'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'attStatus'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>eda0152351f1bc38d85bce51de29317e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>87</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>14913</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>87</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>14913</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'attStatus'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/examples/dbcrypt/CryptKeyHolder.cpp</string>
		<string>/build/src/include/firebird/IdlFbInterfaces.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
