<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-but-set-variable</string>
			<key>description</key>
			<string>variable 'n' set but not used</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>29012bb2301d1fd4ced306f71d997d22</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>610</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>610</integer>
					</dict>
					<key>message</key>
					<string>variable 'n' set but not used</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/decNumber/decimal64.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
