<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b88d047620e7dcdb54b3bbd6a0157c36</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>54</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>54</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>54</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>54</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9a6bcdcc5dc184eee1e789e60d603504</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>55</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>55</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>55</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>55</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>683f376f12efb389773837489a7882ac</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>56</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>56</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5a27d1a1aefee2527ad1840e6f05dc92</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>57</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>57</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>57</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>57</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f562a8f02530da5c4d4bab782c80bdd6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>58</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>58</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>156e382b79dd5ced0770194d6d53b7a3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>59</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>59</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>86b5d19d32fb7d5226d70134cd66b5d3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>19</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>62</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>62</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>90ebff4d936bdb99ff087d43e900db9e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>63</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c856235378e4b474df96a618609909ef</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>64</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>21</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>21</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>64</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b02c3c771b0444d06bf624c8a0a0f0eb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>19</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>66</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>66</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/libtomcrypt/src/pk/asn1/der/utctime/der_encode_utctime.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
