<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ded82b3c252803ba8f40e591e0ebbea2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>63</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>63</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>27</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>27</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>27</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V4'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>63</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5eaa93367f6b7e1d2cdac43bffec8172</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>64</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>64</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>15c3832f606a6cb5dd6a21cd92ebdc02</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>65</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>65</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>65</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>65</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2153c2c126c674eee62d6f0965b495d6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>66</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>66</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>66</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>66</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5818007f794103f2118cd1962f2d3477</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>67</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>67</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>67</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>67</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>32484037a383ade3ace815273460e580</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>68</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>68</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5f80c888c4daf19c235a0d1662deddf7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>19</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>74</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>74</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9cbd4ac5a6aa30c1b3a60122b5b88580</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>22</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>83</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>83</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>37418e256ffc76fb4b196b6ef7335d05</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>19</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>85</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>85</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c9008d17f2814bf5fa2ef1043785ad96</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>19</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>89</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>89</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4213fed01738d62290d88d0934a52e8e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>90</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>90</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>90</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b8c874682ed3ebdb64a607f9cc835b07</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>91</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>91</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>22</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'STORE_V'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7dd9996f80deeeac6e639a59fd6f03f4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>19</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>93</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>93</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned char'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/libtomcrypt/src/pk/asn1/der/generalizedtime/der_encode_generalizedtime.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
