<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-const-variable</string>
			<key>description</key>
			<string>unused variable 'isc_9l'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>47639d6da9dc021ff0ecb3aa3d197d53</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>91</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'isc_9l'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-const-variable</string>
			<key>description</key>
			<string>unused variable 'isc_17l'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2165fc9c019a61bbe33c6ad96298b1fb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>144</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>144</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'isc_17l'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-const-variable</string>
			<key>description</key>
			<string>unused variable 'isc_20l'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>51c659a8cf5f26f37903a0c608a43bdd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>164</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>164</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'isc_20l'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-const-variable</string>
			<key>description</key>
			<string>unused variable 'isc_34l'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>32457a6734c410b45d41fed2878fce57</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>212</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>212</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'isc_34l'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-const-variable</string>
			<key>description</key>
			<string>unused variable 'isc_50l'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>18540cbd0892ae7d953b9709e6111a67</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>270</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>270</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'isc_50l'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-const-variable</string>
			<key>description</key>
			<string>unused variable 'isc_58l'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>57ff4dc2bfb2c7c1df53304438ba133b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>323</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>323</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'isc_58l'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e51beee4b803ffa85bd5e7918e289e7c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>381</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>381</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>381</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>13e6624ba76b86efcbf9a7351de107f9</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>410</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>410</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>410</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>73b669348d50c0dc50e3a2a57fe953c2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>418</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>418</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>418</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>09a700f0c5527803cbb12918904ba096</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>426</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>426</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>426</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>33ca6feae9408ce0388e221d4c1f7047</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>434</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>434</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>434</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>299d387d26648e4a80b94b69b0bf70a8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>442</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>442</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>442</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f7e6638b9f0bdb300622509e52190227</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>556</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>556</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>556</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'short'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6e0a8a4d3764e4267cb047d84b469f34</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>582</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>582</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'short'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2e08e93143ab9d6f58690d7834661bc2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>615</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>615</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>615</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f7e6638b9f0bdb300622509e52190227</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>705</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>705</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>705</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned short'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f764c4ece4366650db9e5be63168c4a2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>716</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>716</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned short'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'short'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8470c3b9a5489e5b09ca354619c7ae84</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>749</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>749</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'short'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2e08e93143ab9d6f58690d7834661bc2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>782</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>782</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>782</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9c45da32ef758a3e2c8721534a2ead75</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>871</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>871</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>871</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'unsigned short'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8c0f4b490374a2043867ce8bf5052945</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>882</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>882</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'unsigned short'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2e08e93143ab9d6f58690d7834661bc2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>943</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>943</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>943</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a08c081971c580141f0ee2d024a071ee</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1004</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1004</integer>
					</dict>
					<key>message</key>
					<string>&amp;hcnt[0], &amp;hcnt[1], &amp;hcnt[2], &amp;hcnt[3]); (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1004</integer>
					</dict>
					<key>message</key>
					<string>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1004</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1004</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2e08e93143ab9d6f58690d7834661bc2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1058</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1058</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1058</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/gen/examples/empbuild.cpp</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
