<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'prefix'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>08a5431a1e849cb5bb005520516fc19c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>66</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>37</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>66</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>37</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'prefix'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5ba7e69b22b296d74c6c650c0a494ce9</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>41</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-format</string>
			<key>description</key>
			<string>format specifies type 'unsigned int' but the argument has type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8812e60779f2a6c65e5b76ae716f5ce0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>86</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>41</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>53</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>%x (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>86</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>format specifies type 'unsigned int' but the argument has type 'int'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>fcf93371aec8b104585d229c08cc7b03</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>43</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>43</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>43</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'language'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6e6340f60905eb18d266d11cd4b917df</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>46</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>56</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>46</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>56</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'language'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'prefix'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2dd6cb1e0afc9646f14638a3db6b8486</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>70</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>56</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>70</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>56</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'prefix'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-default</string>
			<key>description</key>
			<string>'switch' missing 'default' label</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3c155aa5e29eca050ba9b99fc2c3ef5c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>91</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>'switch' missing 'default' label</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cppcoreguidelines</string>
			<key>check_name</key>
			<string>cppcoreguidelines-virtual-class-destructor</string>
			<key>description</key>
			<string>destructor of 'BaseType' is protected and virtual</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>addb7855b99e360e0c1d53a25c9e51cb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>7</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>35</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>35</integer>
					</dict>
					<key>message</key>
					<string>make it protected and non-virtual</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>35</integer>
					</dict>
					<key>message</key>
					<string>destructor of 'BaseType' is protected and virtual</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/cloop/src/cloop/Expr.cpp</string>
		<string>/build/extern/cloop/src/cloop/Parser.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
