<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-not-null-terminated-result</string>
			<key>description</key>
			<string>the result from calling 'memcpy' is not null-terminated</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8c9aa465bde6727d030abfec019ec39f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>259</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>259</integer>
					</dict>
					<key>message</key>
					<string>strcpy (char *) (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>259</integer>
					</dict>
					<key>message</key>
					<string>the result from calling 'memcpy' is not null-terminated</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'status'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>26306c1e694678fea238f1f3fbaab4f4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>46</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>314</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>46</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>314</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'status'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'cryptCallback'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c08da6d0f45d2e170d0b7c0ed5a3cf2b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>73</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>314</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>73</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>314</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'cryptCallback'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'x'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2b1217caf449e07de5ba88eda033a8be</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>102</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>102</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'x'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-unconventional-assign-operator</string>
			<key>description</key>
			<string>operator=() should return 'RefPtr&amp;'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ff531715b461dd6ec14b93377c74b088</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>121</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>121</integer>
					</dict>
					<key>message</key>
					<string>operator=() should return 'RefPtr&amp;'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-unconventional-assign-operator</string>
			<key>description</key>
			<string>operator=() should return 'RefPtr&amp;'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6228d5b417cee05bde119f3af2390643</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>126</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>126</integer>
					</dict>
					<key>message</key>
					<string>operator=() should return 'RefPtr&amp;'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'status'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>794410421ef84941511e32c4a8a36a0c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>44</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>14913</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>44</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>14913</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'status'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'dbName'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9814cb2a9e5b6123b5263e98af8d3b91</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>64</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>14913</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>64</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>14913</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'dbName'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'attStatus'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>eda0152351f1bc38d85bce51de29317e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>87</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>14913</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>87</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>14913</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'attStatus'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/gen/Release/firebird/examples/extauth/ExtAuth.cpp</string>
		<string>/build/gen/Release/firebird/examples/extauth/TcWrapper.h</string>
		<string>/build/gen/Release/firebird/include/firebird/IdlFbInterfaces.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
