<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>C++ object lifecycle</string>
			<key>check_name</key>
			<string>optin.cplusplus.VirtualCall</string>
			<key>description</key>
			<string>Call to virtual method 'PluginModule::doClean' during destruction bypasses virtual dispatch</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ee0c659b5f05cdd6860784bc3815925c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>59</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>56</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>56</integer>
					</dict>
					<key>message</key>
					<string>Assuming field 'pluginManager' is non-null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>56</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>19</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>56</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>59</integer>
					</dict>
					<key>message</key>
					<string>Call to virtual method 'PluginModule::doClean' during destruction bypasses virtual dispatch</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>4</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/gen/Release/firebird/examples/extauth/ExtAuth.cpp</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
