<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Memory error</string>
			<key>check_name</key>
			<string>cplusplus.NewDelete</string>
			<key>description</key>
			<string>Use of memory after it is freed</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>860589b356ac03eef963b55a5e938818</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>3024</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3024</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3024</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3022</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3022</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>53</integer>
					</dict>
					<key>message</key>
					<string>Memory is released</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>53</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>62</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>53</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>53</integer>
					</dict>
					<key>message</key>
					<string>Calling 'operator delete[]'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>53</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>62</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>53</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>3022</integer>
					</dict>
					<key>message</key>
					<string>Entered call from '~DynamicVector'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3022</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3022</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>3024</integer>
					</dict>
					<key>message</key>
					<string>Use of memory after it is freed</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>25</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3024</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3024</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Memory error</string>
			<key>check_name</key>
			<string>cplusplus.NewDelete</string>
			<key>description</key>
			<string>Use of memory after it is freed</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>12582ea181cad0a3945bf9e9872b74f8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>3030</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3030</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3030</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3028</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>4</integer>
									<key>line</key>
									<integer>3028</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>211</integer>
					</dict>
					<key>message</key>
					<string>Memory is released</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>5</integer>
								<key>line</key>
								<integer>211</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>17</integer>
								<key>file</key>
								<integer>5</integer>
								<key>line</key>
								<integer>211</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>5</integer>
						<key>line</key>
						<integer>211</integer>
					</dict>
					<key>message</key>
					<string>Calling 'operator delete'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>5</integer>
								<key>line</key>
								<integer>211</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>17</integer>
								<key>file</key>
								<integer>5</integer>
								<key>line</key>
								<integer>211</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>3028</integer>
					</dict>
					<key>message</key>
					<string>Entered call from '~IndexRetrieval'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3028</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3028</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>3030</integer>
					</dict>
					<key>message</key>
					<string>Use of memory after it is freed</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>25</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3030</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>4</integer>
								<key>line</key>
								<integer>3030</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>C++ object lifecycle</string>
			<key>check_name</key>
			<string>optin.cplusplus.VirtualCall</string>
			<key>description</key>
			<string>Call to virtual method 'ImplStatusVector::clear' during construction bypasses virtual dispatch</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ee8ff69617a7e3e13068e7cafe01872b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>148</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>145</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>145</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>144</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>144</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>146</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>146</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>145</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>145</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>148</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>146</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>146</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>148</integer>
					</dict>
					<key>message</key>
					<string>Call to virtual method 'ImplStatusVector::clear' during construction bypasses virtual dispatch</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>4</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>148</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>148</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>C++ object lifecycle</string>
			<key>check_name</key>
			<string>optin.cplusplus.VirtualCall</string>
			<key>description</key>
			<string>Call to virtual method 'BaseStatus::init' during construction bypasses virtual dispatch</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>481ec0a9ef158db608c411bcb0b4c879</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>223</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>220</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>220</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>220</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>220</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>220</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>220</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>23</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>223</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>223</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>23</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>221</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>257</integer>
					</dict>
					<key>message</key>
					<string>Calling constructor for 'BaseStatus&lt;Firebird::StatusHolder&gt;'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>257</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>39</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>257</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>220</integer>
					</dict>
					<key>message</key>
					<string>Entered call from default constructor for 'StatusHolder'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>220</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>220</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>223</integer>
					</dict>
					<key>message</key>
					<string>Call to virtual method 'BaseStatus::init' during construction bypasses virtual dispatch</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>223</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>8</integer>
								<key>file</key>
								<integer>2</integer>
								<key>line</key>
								<integer>223</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Unused code</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'ret' during its initialization is never read</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>38af0c55737be47be3f67bac35ed27ad</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>14</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>72</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>72</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'ret' during its initialization is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>3</integer>
								<key>line</key>
								<integer>72</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>3</integer>
								<key>line</key>
								<integer>72</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Unused code</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Although the value stored to 'x' is used in the enclosing expression, the value is never actually read from 'x'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>aebf8160b155a492c0925cb3784d1aef</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>259</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>259</integer>
					</dict>
					<key>message</key>
					<string>Although the value stored to 'x' is used in the enclosing expression, the value is never actually read from 'x'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>25</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>259</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>259</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Unused code</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Although the value stored to 'x' is used in the enclosing expression, the value is never actually read from 'x'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3b7d8f02a020b66e7bedd46751ccc0b2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>270</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>270</integer>
					</dict>
					<key>message</key>
					<string>Although the value stored to 'x' is used in the enclosing expression, the value is never actually read from 'x'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>25</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>270</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>31</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>270</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/libcds/cds/details/bitop_generic.h</string>
		<string>/build/src/common/StatusArg.h</string>
		<string>/build/src/common/StatusHolder.h</string>
		<string>/build/src/common/classes/SyncObject.h</string>
		<string>/build/src/common/classes/alloc.cpp</string>
		<string>/build/src/jrd/btr.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
