<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signal-handler</string>
			<key>description</key>
			<string>standard function 'fclose' may not be asynchronous-safe; calling it from a signal handler may be dangerous</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5c9208bab656897a4e2b06574dfa06ea</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>86</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>105</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>105</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>86</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>86</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>105</integer>
					</dict>
					<key>message</key>
					<string>function 'done' called here from 'onintr'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>113</integer>
					</dict>
					<key>message</key>
					<string>function 'onintr' registered here as signal handler</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>86</integer>
					</dict>
					<key>message</key>
					<string>standard function 'fclose' may not be asynchronous-safe; calling it from a signal handler may be dangerous</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2bea99fe9fcc22ecf83bdfe8b969da90</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>86</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>86</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>86</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a89c2d658757bcec7f3081d6294c2c31</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>91</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>91</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c5985040ae1e593dd93396b3180f7c11</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>96</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>96</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>96</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signal-handler</string>
			<key>description</key>
			<string>standard function 'exit' may not be asynchronous-safe; calling it from a signal handler may be dangerous</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d7d9bb722eec028bfca786e348023ea4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>99</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>105</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>105</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>99</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>99</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>113</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>105</integer>
					</dict>
					<key>message</key>
					<string>function 'done' called here from 'onintr'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>113</integer>
					</dict>
					<key>message</key>
					<string>function 'onintr' registered here as signal handler</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>99</integer>
					</dict>
					<key>message</key>
					<string>standard function 'exit' may not be asynchronous-safe; calling it from a signal handler may be dangerous</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'sig'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2534027a19ec724975c70bf42a64b43b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>103</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>103</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'sig'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d2ce8ffe073adce18a819ec89fa25523</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>113</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>113</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>113</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f5eb4949f664764ed82f8aeda076cca1</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>117</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>117</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>117</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d7f5723c481fea387acb928132515a0e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>121</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>121</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>121</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1be9a34e2c9906b0f64a74c7e87aa251</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>128</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>128</integer>
					</dict>
					<key>message</key>
					<string>"filename\n", myname); (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>128</integer>
					</dict>
					<key>message</key>
					<string>~~~~~~~~~~~~~~~~~~~~~ (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>128</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>128</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2f12dbc248fbd47a88e69ea43aa4856d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>345</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>345</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>345</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2f12dbc248fbd47a88e69ea43aa4856d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>349</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>349</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>349</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2f12dbc248fbd47a88e69ea43aa4856d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>353</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>353</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>353</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/btyacc/main.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
