<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.NullDereference</string>
			<key>description</key>
			<string>Access to field 'action_code' results in a dereference of a null pointer (loaded from variable 'pref')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>32f0bc92cea199d1763f814f7d13ab3c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>211</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>25</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>25</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>31</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>31</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>28</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>32</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>32</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>31</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>31</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>187</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>187</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>32</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>32</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>189</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>189</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>187</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>187</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>189</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>189</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>198</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>198</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>197</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>201</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>201</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>198</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>198</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>202</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>202</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>201</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>201</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>202</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>202</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>211</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>211</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>206</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>211</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>211</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>211</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>211</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>28</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'i' is &gt;= 'nstates'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>17</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>28</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>28</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>28</integer>
					</dict>
					<key>message</key>
					<string>Loop body executed 0 times</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>17</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>28</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>28</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>32</integer>
					</dict>
					<key>message</key>
					<string>Calling 'remove_conflicts'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>32</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>22</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>32</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>187</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'make_parser'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>187</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>187</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>197</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'i' is &lt; 'nstates'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>17</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>197</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>197</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>197</integer>
					</dict>
					<key>message</key>
					<string>Entering loop body</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>17</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>197</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>197</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>201</integer>
					</dict>
					<key>message</key>
					<string>Null pointer value stored to 'pref'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>201</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>201</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>202</integer>
					</dict>
					<key>message</key>
					<string>Entering loop body</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>22</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>202</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>22</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>202</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>203</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'symbol' is equal to field 'symbol'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>203</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>28</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>203</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>206</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'i' is not equal to 'final_state'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>211</integer>
					</dict>
					<key>message</key>
					<string>Access to field 'action_code' results in a dereference of a null pointer (loaded from variable 'pref')</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>211</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>211</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/btyacc/mkpar.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
