<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1ce8596834b9a4b4c5148b7cf6e71b80</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>19</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>19</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>19</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-format-nonliteral</string>
			<key>description</key>
			<string>format string is not a string literal</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>dc742df20752afc8b760742b25dac0bd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>19</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>19</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>19</integer>
					</dict>
					<key>message</key>
					<string>format string is not a string literal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-suspicious-realloc-usage</string>
			<key>description</key>
			<string>'s-&gt;base' may be set to null if 'realloc' fails, which may result in a leak of the original buffer</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>306f278c34b0276436089cac34753f52</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>27</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>27</integer>
					</dict>
					<key>message</key>
					<string>'s-&gt;base' may be set to null if 'realloc' fails, which may result in a leak of the original buffer</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-suspicious-realloc-usage</string>
			<key>description</key>
			<string>'s-&gt;base' may be set to null if 'realloc' fails, which may result in a leak of the original buffer</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>25b6afb77260801ac3b4d4ce2bc7b2ae</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>42</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>42</integer>
					</dict>
					<key>message</key>
					<string>'s-&gt;base' may be set to null if 'realloc' fails, which may result in a leak of the original buffer</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-int-conversion</string>
			<key>description</key>
			<string>implicit conversion loses integer precision: 'int' to 'char'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8227e5b9a512ca83f6797db42d4751c1</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>48</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>48</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion loses integer precision: 'int' to 'char'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/btyacc/mstring.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
