<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4376e2c7eb469ce5fb142ac37d35b983</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>13</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>521</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>13</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>521</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bc2ddfc44b63022287784a728aec69bf</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>34</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>521</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>34</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>521</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>07cf7cc0bb3c656a2cbc63dd3f9f66c8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>34</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>528</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>34</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>528</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'pre_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>13d05bb7ee05886c411700187f03ccdd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>22</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>529</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>529</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'pre_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-enum</string>
			<key>description</key>
			<string>enumeration value 'kRegexpHaveMatch' not explicitly handled in switch</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>43f7d8c6d151ad7e9bfe5ea54c498d7c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>532</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>532</integer>
					</dict>
					<key>message</key>
					<string>enumeration value 'kRegexpHaveMatch' not explicitly handled in switch</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c2ef7e8d6c96b81eed6c73b4780bf0fc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>60</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>102</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>60</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>102</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'stop'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>75dad8e8440b1fdcac3ab867368cad62</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>58</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>104</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>58</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>104</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'stop'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5403c0a7428608648e0fd817310673a0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>61</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>108</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>61</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>108</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4c7d1661ce3e97330ceb00bbc9bba3e0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>55</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>109</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>55</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>109</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'child_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4d874b4e6c329fb882e95821b8ce30c6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>56</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>111</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>56</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>111</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'child_args'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'nchild_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0c9bc1d481bb422cd4a2eeedcce8e92a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>57</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>112</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>57</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>112</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'nchild_args'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/re2/re2/prefilter.cc</string>
		<string>/build/extern/re2/re2/walker-inl.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
