<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Unused code</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'e' is never read</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f7555a67eaba62f8bed0cf493970f43c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>149</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>149</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'e' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>149</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>149</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/editline/src/read.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
