<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4cff9ea93ef3d2398d04e1a4e5c535a5</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>245</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>245</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>da655d7295227dab320f4a2634e072df</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>253</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>253</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b9c2695fcf2396c27fcbe82279565bf9</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>257</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>257</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>707a88573a1358e48f3a8ac91f62d606</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>261</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>261</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__ct_encode_string' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a26ceec683b7d9e9978735b119c9588f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>14</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>185</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>185</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>185</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>183</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>183</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>26</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>183</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'ct_encode_string'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>185</integer>
					</dict>
					<key>message</key>
					<string>identifier '__ct_encode_string' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '__ct_decode_string' is reserved because it starts with '__'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>233dde4722c78ae75912d11a7570cace</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>14</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>189</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>189</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>189</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>187</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>187</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>26</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>187</integer>
					</dict>
					<key>message</key>
					<string>expanded from macro 'ct_decode_string'</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>189</integer>
					</dict>
					<key>message</key>
					<string>identifier '__ct_decode_string' is reserved because it starts with '__'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>884da0d807cc02765d02e5ad2cf0ce92</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>41</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_el_fn_complete' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a42b1b1fce204b0dd45c7c04d580edc7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>115</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>115</integer>
					</dict>
					<key>message</key>
					<string>identifier '_el_fn_complete' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-implicit-fallthrough</string>
			<key>description</key>
			<string>unannotated fall-through between switch labels</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1b2ed2f716d51d64a4ce9a62eca65b29</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>4</integer>
				<key>file</key>
				<integer>3</integer>
				<key>line</key>
				<integer>332</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>332</integer>
					</dict>
					<key>message</key>
					<string>insert '__attribute__((fallthrough));' to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>4</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>332</integer>
					</dict>
					<key>message</key>
					<string>unannotated fall-through between switch labels</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a09667a1f9ed6957b439fafd071cdaec</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>52</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>52</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f6b3fbd350f92a0d8a1fc4ce7299e5d8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>79</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>79</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>eb36d034b7951913fe887465f76552b2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>83</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>83</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0da8ce24a0fbe2345c256f484745895b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>88</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>88</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-macro-identifier</string>
			<key>description</key>
			<string>macro name is a reserved identifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5678a9ab4e0db1856f2cbc9ba0245bea</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>4</integer>
				<key>line</key>
				<integer>128</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>4</integer>
						<key>line</key>
						<integer>128</integer>
					</dict>
					<key>message</key>
					<string>macro name is a reserved identifier</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/editline/config.h</string>
		<string>/build/extern/editline/src/chartype.h</string>
		<string>/build/extern/editline/src/histedit.h</string>
		<string>/build/extern/editline/src/search.c</string>
		<string>/build/extern/editline/src/sys.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
