<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'pool'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8b039d6fe0a35b3a702d904a22c4d71c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>62</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>380</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>62</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>380</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'pool'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'pool'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>257c9748caf86cf0032d5f372be8e956</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>64</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>385</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>64</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>385</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'pool'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'hint'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>22f574cfe941af7809bde8f73140fbac</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>55</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>507</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>55</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>507</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'hint'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'n'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bd3c8276508f9d66be6648076db32499</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>50</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>512</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>50</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>512</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'n'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-dcl58-cpp</string>
			<key>description</key>
			<string>modification of 'std' namespace can result in undefined behavior</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>de3cb5723811eaa6a5d3b68a29b0b849</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>13</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>554</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>13</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>554</integer>
					</dict>
					<key>message</key>
					<string>modification of 'std' namespace can result in undefined behavior</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-unconventional-assign-operator</string>
			<key>description</key>
			<string>operator=() should return 'AtomicCounter&amp;'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6426f1faad878119b6a3a06f1ac62187</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>145</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>145</integer>
					</dict>
					<key>message</key>
					<string>operator=() should return 'AtomicCounter&amp;'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'aReason'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7886f3df0f389ad9f8bb5f8304cd7112</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>28</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>200</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>28</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>200</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'aReason'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'aReason'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1f95102c8fcddfdf0cc3f07512b41d43</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>49</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>315</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>49</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>315</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'aReason'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/src/common/classes/alloc.h</string>
		<string>/build/src/common/classes/fb_atomic.h</string>
		<string>/build/src/common/classes/locks.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
