<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-switch-missing-default-case</string>
			<key>description</key>
			<string>switching on non-enum value without default case may not cover all cases</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5114ac31b30d2622ed6caf4cef3da0eb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>46</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>46</integer>
					</dict>
					<key>message</key>
					<string>switching on non-enum value without default case may not cover all cases</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-default</string>
			<key>description</key>
			<string>'switch' missing 'default' label</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>17cbad064e41da13e785753ce4c99fe1</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>46</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>46</integer>
					</dict>
					<key>message</key>
					<string>'switch' missing 'default' label</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>be2b8f42986c0064662105d64f44f56d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>56</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>222</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>56</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>222</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6021454b8d89f23d4c0def9e86eb5d0a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>43</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>231</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>231</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'pre_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5e0629474b99373c98a7a560de60001a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>43</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>232</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>232</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'pre_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'nchild_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ed8ef83632cb908ab9300b59f4630c29</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>39</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>234</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>39</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>234</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'nchild_args'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-enum</string>
			<key>description</key>
			<string>17 enumeration values not explicitly handled in switch: 'kRegexpNoMatch', 'kRegexpEmptyMatch', 'kRegexpLiteral'...</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6c5e516f8717c90fa0a239367779e349</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>352</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>352</integer>
					</dict>
					<key>message</key>
					<string>17 enumeration values not explicitly handled in switch: 'kRegexpNoMatch', 'kRegexpEmptyMatch', 'kRegexpLiteral'...</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-enum</string>
			<key>description</key>
			<string>12 enumeration values not explicitly handled in switch: 'kRegexpNoMatch', 'kRegexpEmptyMatch', 'kRegexpConcat'...</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0d421b92482b1abf7b12fc0cc5a87a34</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>379</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>379</integer>
					</dict>
					<key>message</key>
					<string>12 enumeration values not explicitly handled in switch: 'kRegexpNoMatch', 'kRegexpEmptyMatch', 'kRegexpConcat'...</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>11778f14e501572f6c87c26969782130</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>56</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>448</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>56</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>448</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a36da551c23ee5c340df00416dba0aba</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>54</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>456</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>54</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>456</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6021454b8d89f23d4c0def9e86eb5d0a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>43</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>465</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>465</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'pre_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5e0629474b99373c98a7a560de60001a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>43</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>466</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>466</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'pre_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'nchild_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ed8ef83632cb908ab9300b59f4630c29</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>39</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>468</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>39</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>468</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'nchild_args'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-default</string>
			<key>description</key>
			<string>'switch' missing 'default' label</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>fa31663f2947704bbb7c308796caae79</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>469</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>469</integer>
					</dict>
					<key>message</key>
					<string>'switch' missing 'default' label</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c2ef7e8d6c96b81eed6c73b4780bf0fc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>60</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>102</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>60</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>102</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'stop'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>75dad8e8440b1fdcac3ab867368cad62</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>58</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>104</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>58</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>104</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'stop'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5403c0a7428608648e0fd817310673a0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>61</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>108</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>61</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>108</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4c7d1661ce3e97330ceb00bbc9bba3e0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>55</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>109</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>55</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>109</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'child_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4d874b4e6c329fb882e95821b8ce30c6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>56</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>111</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>56</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>111</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'child_args'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'nchild_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0c9bc1d481bb422cd4a2eeedcce8e92a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>57</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>112</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>57</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>112</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'nchild_args'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/re2/re2/simplify.cc</string>
		<string>/build/extern/re2/re2/walker-inl.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
