<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e0cc103067d44cb0d3d0bcd99cf4d088</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>48</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>48</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>48</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-format-nonliteral</string>
			<key>description</key>
			<string>format string is not a string literal</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f0f6e4c1a215d16a43b1c9eef569b911</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>48</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>104</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>48</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>104</integer>
					</dict>
					<key>message</key>
					<string>format string is not a string literal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-format-nonliteral</string>
			<key>description</key>
			<string>format string is not a string literal</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ff4f13b6bd73b9da8a3a07d860243db6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>37</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>127</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>37</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>127</integer>
					</dict>
					<key>message</key>
					<string>format string is not a string literal</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/re2/util/strutil.cc</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
