<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f01ef0e0c0949e9d1fd7ec2018049404</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>22</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>55599d098c3a0d8818e6714b01e940d3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>23</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>23</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/btyacc/symtab.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
