<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>101ce2fa0ebfab3a740d01576d10ebd3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>34</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>44</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>34</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>44</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>91d06d3b10cc823cbce608944a4fb9b1</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>42</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>44</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>42</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>44</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'stop'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4012843dd6cc25a65b4ded0871857199</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>64</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>68</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>64</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>68</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'stop'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-default</string>
			<key>description</key>
			<string>'switch' missing 'default' label</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>20e166cc205ef3ee562f05a30b858fc8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>72</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>72</integer>
					</dict>
					<key>message</key>
					<string>'switch' missing 'default' label</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'pre_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>69e693a81490b5c76c34e4f1d195056e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>63</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>147</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>63</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>147</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'pre_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'child_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b11904f56ae69eb57969c220cb652542</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>36</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>148</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>36</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>148</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'child_args'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'nchild_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d6ad49b0203de92e9f88d144fca7ad35</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>52</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>148</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>52</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>148</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'nchild_args'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-switch-default</string>
			<key>description</key>
			<string>'switch' missing 'default' label</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>20e166cc205ef3ee562f05a30b858fc8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>150</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>150</integer>
					</dict>
					<key>message</key>
					<string>'switch' missing 'default' label</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c2ef7e8d6c96b81eed6c73b4780bf0fc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>60</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>102</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>60</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>102</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'stop'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>75dad8e8440b1fdcac3ab867368cad62</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>58</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>104</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>58</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>104</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'stop'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 're'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5403c0a7428608648e0fd817310673a0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>61</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>108</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>61</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>108</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 're'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'parent_arg'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4c7d1661ce3e97330ceb00bbc9bba3e0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>55</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>109</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>55</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>109</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'parent_arg'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'child_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4d874b4e6c329fb882e95821b8ce30c6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>56</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>111</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>56</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>111</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'child_args'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'nchild_args'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0c9bc1d481bb422cd4a2eeedcce8e92a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>57</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>112</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>57</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>112</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'nchild_args'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/build/extern/re2/re2/tostring.cc</string>
		<string>/build/extern/re2/re2/walker-inl.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
